<!DOCTYPE html>
<html lang="en-US">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
<meta name="thumbnail" content="/vi/<%= videoData.videoId %>/maxres.jpg">
<meta property="og:site_name" content="<%= videoData.channelName %> | wakametube-custom">
<meta property="og:url" content="inv.nadeko.net/watch?v=<%= videoData.videoId %>">
<meta property="og:title" content="<%= videoData.videoTitle %>">
<meta property="og:image" content="/vi/<%= videoData.videoId %>/maxres.jpg">
<meta property="og:type" content="video.other">
<!-- This shouldn't be empty, ever. -->
<meta property="og:video" content="<%= videoData.stream_url %>"> 
<meta property="og:video:url" content="<%= videoData.stream_url %>">
<meta property="og:video:secure_url" content="<%= videoData.stream_url %>">
<meta property="og:video:type" content="video/mp4">
<meta property="og:video:width" content="640">
<meta property="og:video:height" content="360">
<link rel="alternate" href="https://www.youtube.com/watch?v=<%= videoData.videoId %>">
<link rel="stylesheet" href="https://inv5.nadeko.net/videojs/video.js/video-js.css?v=d75d860">
<link rel="stylesheet" href="https://inv5.nadeko.net/videojs/videojs-http-source-selector/videojs-http-source-selector.css?v=d75d860">
<link rel="stylesheet" href="https://inv5.nadeko.net/videojs/videojs-markers/videojs.markers.css?v=d75d860">
<link rel="stylesheet" href="https://inv5.nadeko.net/videojs/videojs-share/videojs-share.css?v=d75d860">
<link rel="stylesheet" href="https://inv5.nadeko.net/videojs/videojs-vtt-thumbnails/videojs-vtt-thumbnails.css?v=d75d860">
<link rel="stylesheet" href="https://inv5.nadeko.net/videojs/videojs-mobile-ui/videojs-mobile-ui.css?v=d75d860">
<link rel="stylesheet" href="https://inv5.nadeko.net/css/player.css?v=d75d860">

<script src="https://inv5.nadeko.net/videojs/video.js/video.js?v=d75d860"></script>
<script src="https://inv5.nadeko.net/videojs/videojs-mobile-ui/videojs-mobile-ui.js?v=d75d860"></script>
<script src="https://inv5.nadeko.net/videojs/videojs-contrib-quality-levels/videojs-contrib-quality-levels.js?v=d75d860"></script>
<script src="https://inv5.nadeko.net/videojs/videojs-http-source-selector/videojs-http-source-selector.js?v=d75d860"></script>
<script src="https://inv5.nadeko.net/videojs/videojs-markers/videojs-markers.js?v=d75d860"></script>
<script src="https://inv5.nadeko.net/videojs/videojs-share/videojs-share.js?v=d75d860"></script>
<script src="https://inv5.nadeko.net/videojs/videojs-vtt-thumbnails/videojs-vtt-thumbnails.js?v=d75d860"></script>







    <link rel="stylesheet" href="https://inv5.nadeko.net/videojs/videojs-vr/videojs-vr.css?v=d75d860">
    <script src="https://inv5.nadeko.net/videojs/videojs-vr/videojs-vr.js?v=d75d860"></script>


<title><%= videoData.videoTitle %> - wakametube-custom</title>

<!-- Description expansion also updates the 'Show more' button to 'Show less' so we're going to need to do it here in order to allow for translations. -->
<style> #descexpansionbutton ~ label > a::after { content: "Show more" } #descexpansionbutton:checked ~ label > a::after { content: "Show less" } </style>

        <link rel="apple-touch-icon" sizes="180x180" href="https://inv.nadeko.net/apple-touch-icon.png?v=d75d860">
        <link rel="icon" type="image/png" sizes="32x32" href="https://inv.nadeko.net/favicon-32x32.png?v=d75d860">
        <link rel="icon" type="image/png" sizes="16x16" href="https://inv.nadeko.net/favicon-16x16.png?v=d75d860">
        <link rel="manifest" href="https://inv.nadeko.net/site.webmanifest?v=d75d860">
        <link rel="mask-icon" href="/safari-pinned-tab.svg?v=d75d860" color="#575757">
        <meta name="msapplication-TileColor" content="#575757">
        <meta name="theme-color" content="#575757">
        <link title="Invidious" type="application/opensearchdescription+xml" rel="search" href="/opensearch.xml">
        <link rel="stylesheet" href="https://inv5.nadeko.net/css/pure-min.css?v=d75d860">
        <link rel="stylesheet" href="https://inv5.nadeko.net/css/grids-responsive-min.css?v=d75d860">
        <link rel="stylesheet" href="https://inv5.nadeko.net/css/ionicons.min.css?v=d75d860">
        <link rel="stylesheet" href="https://inv5.nadeko.net/css/default.css?v=d75d860">
        <link rel="stylesheet" href="https://inv5.nadeko.net/css/carousel.css?v=d75d860">
        <script src="https://inv5.nadeko.net/js/_helpers.js?v=d75d860"></script>
    </head>

    <body class="dark-theme">
        <span style="display:none" id="dark_mode_pref">dark</span>
        <div class="pure-g">
            <div class="pure-u-1 pure-u-xl-20-24" id="contents">
                <div class="pure-g navbar h-box">
                    
                        <div class="pure-u-1 pure-u-md-4-24">
                            <a href="/home.pdf" class="index-link pure-menu-heading">wakametube-custom</a>
                        </div>
                        <div class="pure-u-1 pure-u-md-12-24 searchbar">
                            <form class="pure-form" action="/s.pdf" method="get">
    <fieldset>
        <input type="search" id="searchbox" autocorrect="off" autocapitalize="none" spellcheck="false" name="q" placeholder="search" title="検索" value="">
    </fieldset>
    <button type="submit" id="searchbutton" aria-label="search">
        <i class="icon ion-ios-search"></i>
    </button>
</form>

    </div>
</div>
        
                                
<script id="video_data" type="application/json"> { "id": "<%= videoData.videoId %>", "index": null, "plid": null, "length_seconds": 173.0, "play_next": false, "next_video": "3Tn30ZTHtRo", "youtube_comments_text": "View YouTube comments", "reddit_comments_text": "View Reddit comments", "reddit_permalink_text": "View more comments on Reddit", "comments_text": "View {commentCount} comments", "hide_replies_text": "Hide replies", "show_replies_text": "Show replies", "params": { "annotations": false, "preload": true, "autoplay": true, "comments": [ "youtube", "" ], "continue": false, "continue_autoplay": true, "controls": true, "listen": false, "local": false, "preferred_captions": [ "", "", "" ], "player_style": "invidious", "quality": "dash", "quality_dash": "720p", "raw": false, "related_videos": true, "speed": 1.0, "video_end": -1, "video_loop": false, "extend_desc": true, "video_start": 0, "volume": 100, "vr_mode": true, "save_player_pos": true }, "preferences": { "annotations": false, "annotations_subscribed": false, "preload": true, "autoplay": true, "automatic_instance_redirect": false, "captions": [ "", "", "" ], "comments": [ "youtube", "" ], "continue": false, "continue_autoplay": true, "dark_mode": "dark", "latest_only": false, "listen": false, "local": false, "watch_history": true, "vr_mode": true, "show_nick": true, "locale": "en-US", "region": "CL", "max_results": 40, "notifications_only": false, "player_style": "invidious", "quality": "dash", "quality_dash": "720p", "default_home": "Popular", "feed_menu": [ "Popular", "Trending", "Subscriptions", "Playlists", "History" ], "related_videos": true, "sort": "published", "speed": 1.0, "thin_mode": false, "unseen_only": false, "video_loop": false, "extend_desc": true, "volume": 100, "save_player_pos": true }, "premiere_timestamp": null, "vr": false, "projection_type": "RECTANGULAR", "local_disabled": false, "support_reddit": true } </script>

<div id="player-container" class="h-box">
    <video style="outline:none;width:100%;background-color:#000" playsinline poster="/vi/<%= videoData.videoId %>/maxres.jpg" id="player" class="on-video_player video-js player-style-invidious" preload="auto" autoplay controls>
    
        
            
                <source src="https://inv-eu1-c.nadeko.net/api/manifest/dash/id/<%= videoData.videoId %>?local=true&unique_res=1&check=xdU0hPy9JgtXmqTJ5Qw-5qqFhy2pu0pFro7qPtp11bs=" type='application/dash+xml' label="dash">
            

            
                <source src="https://inv-eu1-c.nadeko.net/latest_version?id=<%= videoData.videoId %>&itag=18&check=xdU0hPy9JgtXmqTJ5Qw-5qqFhy2pu0pFro7qPtp11bs=" type="video/mp4; codecs=&quot;avc1.42001E, mp4a.40.2&quot;" label="medium" selected="false">
                
                <source src="https://inv-eu1-c.nadeko.net/latest_version?id=<%= videoData.videoId %>&itag=18&check=xdU0hPy9JgtXmqTJ5Qw-5qqFhy2pu0pFro7qPtp11bs=&local=true" type="video/mp4; codecs=&quot;avc1.42001E, mp4a.40.2&quot;" hidequalityoption="true">
        
    
</video>

<script id="player_data" type="application/json"> { "aspect_ratio": "16:9", "title": "<%= videoData.videoTitle %>", "description": "“ </script>
<script src="https://inv.nadeko.net/js/player.js?v=d75d860"></script>
</div>

<div class="h-box">
    <h1>
        <%= videoData.videoTitle %>
            
    </h1>
</div>

<div class="pure-g h-box flexible title">
            <div class="pure-u-1-2 flex-left flexible">
                <a href="/c.pdf/<%= videoData.channelId %>">
                    <div class="channel-profile">
                        
                            <img src="<%= videoData.channelImage %>" alt="" />
                        
                        <span id="channel-name"><%= videoData.channelName %>&nbsp;<i class="icon ion ion-md-checkmark-circle"></i></span>
                    </div>
                </a>
            </div>

<div class="pure-g">
    <div class="pure-u-1 pure-u-lg-1-5">


            <p id="views"><i class="icon ion-ios-eye"></i> <%= videoData.videoViews %></p>
            <p id="likes"><i class="icon ion-ios-thumbs-up"></i> <%= videoData.likeCount %></p>
            <p id="dislikes" style="display: none; visibility: hidden;"></p>
            
                
            </p>
                
            
            
            <p id="wilson" style="display: none; visibility: hidden;"></p>
            <p id="rating" style="display: none; visibility: hidden;"></p>
            <p id="engagement" style="display: none; visibility: hidden;"></p>
            
        
    </div>

    <div class="pure-u-1 pure-u-lg-3-5">

            <div class="pure-u-1-2 flex-right flexible button-container">
                <div class="pure-u">

                
            </p>

            <div id="description-box"> <!-- Description -->
             <p><%- (videoData.videoDes || "").replace(/\n/g, "<br>") %></p>
                
            </div>

            <hr>

            
    <div class="comment-box">
    <h2>コメント</h2>
    <div class="iframe-container">
      <iframe src="/comment/<%= videoId %>" scrolling="yes"></iframe>
    </div>
  </div>
<div class="h-box">
  <div class="pure-u-1">
       <div class="thumbnail">
<div class="tube-box">
   <h2>関連動画</h2>
    <div class="iframe-container">
<iframe src="/videores/<%= videoId %>" scrolling="yes"></iframe>
    </div>
  </div>

<script src="/js/comments.js?v=d75d860"></script>
<script src="/js/watch.js?v=d75d860"></script>


            

        </div>
    </div>
    <script src="/js/handlers.js?v=d75d860"></script>
    <script src="/js/themes.js?v=d75d860"></script>

<style>
	* {
		--plyr-color-main: #217DD9;
	}

	a {
		color: #217DD9;
	}
  .card {
  border: 1px solid #ccc;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 10px;
  overflow: hidden;
  transition: all 0.3s ease;
}

.card:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.card-header, .card-footer {
  background-color: #217DD9;
  padding: 10px 15px;
  border-bottom: 1px solid #ddd;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
  
.card-channel {
  padding: 7px;
  height: 49px;
}
.card-channel p{
  margin-left: 65px;
}

.card-body {
  padding: 15px;
}

.card-body h5 {
  margin-bottom: 10px;
}

.card-body p {
  margin: 0;
  white-space: pre-line;
}
video {
  width: 100%;
  height:100%;
  }
.card-title h4 {
  font-size: 1.6rem; 
  color: #333;
  margin: 10px 0; 
}

.card-title .container {
  padding: 0 15px;
}

.toolcard-header {
  background-color: #FFF5F7;
  padding: 10px 10px;
  border-bottom: 0.5px solid #f8e58c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
}
        .container {
            height: 35px;
            display: flex;
            align-items: center;
        }

        .container img {
            width: 35px;
            height: 35px;
        }

        .container .text {
            margin-left: 10px;
        }
    .comment-box {
      background-color: #ffffff;
      width: 230%;
      border-radius: 10px;
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
      padding: 20px;
      text-align: left;
      box-sizing: border-box;
    }

    .comment-box h2 {
      margin: 0 0 10px;
      font-size: 24px;
      color: #333;
    }

    .iframe-container {
      width: 100%;
      height: 900px;
      border: none;
      overflow: hidden;
      border-radius: 10px;
      box-shadow: inset 0 2px 8px rgba(0, 0, 0, 0.1);
    }

    iframe {
      width: 100%;
      height: 100%;
      border: none;
    }
    .tube-box {
      background-color: ##56C919;
      width: 100%;
      border-radius: 10px;
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
      padding: 20px;
      text-align: left;
      box-sizing: border-box;
    }
.video-container {
    position: relative;
}

.loading-indicator {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    z-index: 10;
}

.loading-indicator img {
    width: 75px;
    height: 75px;
}

.yukiyoutube {
  display: inline-block;
  font-size: 28px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  background-image: linear-gradient(45deg, #7e6b37 0%, #e8dbb8 50%, #eec148 90%);
  background-size: 300% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation-name: gradationTextAnimation;
  animation-duration: 8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite
   }
@keyframes colorChange {
  0% {background-position: 100%;}
  100% {background-position: 0%;}
}

.yukiyoutube {
  display: inline-block;
  font-size: 28px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  background-image: linear-gradient(45deg, #7e6b37 0%, #e8dbb8 50%, #eec148 90%);
  background-size: 300% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation-name: gradationTextAnimation;
  animation-duration: 8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes gradationTextAnimation{
    0%{
        background-position: 0 0;
    }
    50%{
        background-position: 100% 0;
    }
    100%{
        background-position: 0 0;
    }
}
.yukiyoutube {
    font-weight: bold;
}
.yukiyoutube {
    position: fixed;
    top: 0;
    left: 50;
}
.yukiyoutube {
       z-index: 9998; /* 一般的には大きな値を設定して他の要素より前面にする */
}
  </style>
</body>
</html>
